@import "~cd-common/common/_colors";
@import "~bootstrap/less/bootstrap";
@grid-gutter-width: 32px;
@brand-primary: @cd-blue;

body {
  margin: 0;
  background: #EEEEEE;
  font-family: Lato, Arial, Helvetica, sans-serif;
}

.cd-select-placeholder {
  color: #2f3538;
}
